MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_DB_NAME=products
MSSQL_USER=sa
MSSQL_SA_PASSWORD=YourStrongP@ss!23

WEBHOOK_SECRET=ec3595e7738dc9bf259d57ddd5a7ef2e75138f0b788db5ac520fd4cacf12173a
WEBHOOK_PORT=9000
